@import "tailwindcss";

body {
    font-family: Arial, sans-serif;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}

.input-field {
    @apply w-full px-4 py-3 rounded-lg border border-gray-300
    focus:outline-none focus:ring-2 focus:ring-indigo-500
    focus:border-indigo-500;
}
